/*Importing fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Indie+Flower&family=Playfair+Display+SC&family=Send+Flowers&display=swap');

/*Defining background color*/
body {
    background-color: #E1F4D7;
}

/* Adding style to the header*/
#title h1 {
    text-align: center;
    font-family: 'Send Flowers', cursive;
    font-size: 56px;
    margin: 30px 0 0 0;
    color: #6F7869;
    text-shadow: 0 0 10px whitesmoke;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#title a:hover {
    color:#f1f2b9;
    text-shadow: 0 0 10px #6F7869;
}

#menu a:hover {
    color:#f1f2b9 ;
    text-shadow: 0 0 10px white;
}

#title h5 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 18px ;
    margin: 0 auto;
    color: #6F7869;
}

/* Adding style to the navigation menu*/
#menu {
    text-align: center;
    /*letter-spacing: 4px;*/
    margin: 15px 0 4px 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #6F7869;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    
}

#menu a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
}

/* Adding style to the Image*/
#cover-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-picture img {
    height: 600px;
    width: 100%;
}

/* Defining area for text over the image*/
#cover-text h2{
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #6F7869;
    color: #6F7869;
    text-shadow: 0 0 10px white;
}

#cover-text {
    text-align: left;
    font-size: 16px;
    color: #6F7869;
    text-shadow: 0 0 10px white;
    font-family: sans-serif;
    width: 300px;
    height: 200px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(225,244,215, 0.8);
    bottom: 30px;
    right: 30px;
    position: absolute;
}

/* Adding style to the organized by section*/

#second-section {
    height: 450px;
    width: 100%;
    background-color: #f1f2b9;
    display: flex;
    position: relative;
}

#organized-by {
    height: 300px;
    width: 500px;
    text-align: center;
    border-radius: 5%;
    top: 90px;
    left: 20%;
    position: absolute;
    box-shadow: 0 0 10px #6F7869;
    background-color: #E1F4D7;
}

#profile-picture {
      height: 325px;
      border-radius: 50%;
      box-shadow: 0 0 10px #6F7869;
      position: absolute;
      left: 60%;
      top: 80px
}

#organized-by h3 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color:#6F7869;
    text-shadow: 0 0 10px white;
}

#organized-by h1 {
    font-family: 'Send Flowers', cursive;
    font-size: 46px;
    color: #6F7869;
    text-shadow: 0 0 10px white;
}

#organized-by p {
    color:#6F7869;
    padding: 0 40px 0 40px;
    text-align: left;
}

/*Adding style to the gallery section*/

#gallery-section {
    height:700px;
    width: 100%;
    position: relative;

}

#our-community-title {
    text-align: center;
    top: 80px;
    font-family: 'Send Flowers', cursive;
    color: #6F7869;
    font-size: 56px;
    border-bottom: 1px solid #6F7869;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    flex-wrap: wrap;
}

.pictures{
    height: 260px;
    width: 260px;
    border-radius: 5%;    
    box-shadow: 0 0 10px #6F7869;
}

.texts {
    height: 260px;
    width: 260px;
    color: #6F7869;
    text-align: center;
    font-family: 'Send Flowers', cursive;
    font-size: 42px;
    padding-top: 35px;
}




/*----------------------------*/
#time-table-container {
    width: 100%;
    height: 53;
}